.navigation {
    background-color: transparent;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation__item {
    font-family: 'Roboto 400 Regular', sans-serif;
    display: flex;
    align-items: center;
}

.navigation__link {
    color: #fff;
    padding: 9px 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.navigation__link--active::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: -50%;
    left: 0;
}

.navigation__button {
    font-family: 'Roboto 400 Regular', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navigation__button--circle {
    border-radius: 50px;
    border: 1px solid #fff;
}